@import url("https://use.typekit.net/yde1sdm.css");
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 1px green solid;
}

:root{
    --primary-color : #458FF6;
    --text-primary : #FFFFFF;
    --text-secondary : #000000;
    --text-third : #7D7987;
    --text-fourth : #4089ED;
    --nav-text : #1F1534;
    --nav-bg : #e2e0e0;
}

.container{
    padding: 0px 0px;
    width: 1100px;
    max-width: 100%;
    margin: 10px auto;
    margin-bottom: 150px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-radius: 5px;
}

.logo img{
    width: 160px;
    height: 41px;
}
.navbar .menu ul{
    display: flex;
    gap: 15px;
    list-style-type: none;
    align-items: center;
}

.menu ul li{
    list-style-type: none;
    font-family: "muli", sans-serif;
    font-weight: 400;
    color: var(--nav-text);
}

.menu ul li.active{
    color: var(--text-secondary);
    font-weight: bold;
}

.menuicon{
    display: none;
}

/* hero section */

.hero{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    width: 40%;
}

.heading h1{
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
}

.heading p {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 21px;
    color: var(--text-third);
}


.hero-img{
    width: 537px;
    height: 445px;
}
.hero-img img{
    width: 100%;
    height: 100%;
}

.head-btn{
    width: 200px;
    height: 60px;
    padding: 10px;
    border-radius: 55px;
    border: none;
    font-size: 18px;
    color: var(--text-primary);
    background-color: var(--primary-color);
    cursor: pointer;
    margin-top: 43px;
}
/* Responsive Desing */

@media screen and (max-width: 1024px) {
    
    .container{
        width: 90%;
        padding: 0 px;
    }
    .navbar {
        height: 70px;
        padding: 0 15px;
      }
    
      .navbar .menu ul {
        display: none; /* Hide by default */
        flex-direction: column;
        position: absolute;
        top: 75px;
        right: 0px;
        left: 0px;
        /* background: var(--nav-bg); */
        border-radius: 5px;
        padding: 10px;
    }
    
    .navbar .menu ul.toggle-menu {
        display: flex; /* Show when toggled */
    }
    

    .menuicon {
        display: block;
        font-size: 30px;
        cursor: pointer;
    }
}
